/* Write your CSS here */
.appointment-item {
  list-style-type: none;
  border: 1px solid #b5b7c4;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .appointment-item {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 32px;
    min-width: 297px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button2 {
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.para {
  color: black;
  font-weight: bold;
}
